@import "../lib/admin-lte/build/less/AdminLTE.less";

.table {
    > tbody {
        > tr.error {
            > td {
                background-color: lighten(@red, 40%);
            }
        }

        > tr.error:hover {
            > td {
                background-color: lighten(@red, 30%);
            }
        }

        > tr.warning {
            > td {
                background-color: lighten(@yellow, 40%);
            }
        }

        > tr.warning:hover {
            > td {
                background-color: lighten(@yellow, 30%);
            }
        }
    }
}
