@model RegisterViewModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Register";
}

<div class="login-box">
    <div class="login-logo">
        <b>NodeLOG</b> Admin
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">

        <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
            <div class="form-group has-feedback">
                    <input asp-for="Email" class="form-control" />
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                    <input asp-for="Password" class="form-control" />
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
