@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-3">
        <h2>Generate an error</h2>
        <a class="btn btn-danger" href="#">Go !</a>
    </div>
    <div class="col-md-3">
        <h2>Generate a warning</h2>
        <a class="btn btn-warning" href="#">Go !</a>
    </div>
    <div class="col-md-3">
        <h2>Generate an info</h2>
        <a class="btn btn-primary" href="#">Go !</a>
    </div>
    <div class="col-md-3">
        <h2>Hmmm...</h2>
    </div>
</div>
