@{
    ViewData["Title"] = "NLE Admin";
}

@section scripts{
    <script src="~/lib/lipsum-js/lipsum.js"></script>
    <script src="~/js/fake-app.js"></script>
}

<div class="row">
    <div class="col-md-4 text-center">
        <a id="errorGenerator" class="btn btn-danger" href="#">Generate an error</a>
    </div>
    <div class="col-md-4 text-center">
        <a id="warnGenerator" class="btn btn-warning" href="#">Generate a warning</a>
    </div>
    <div class="col-md-4 text-center">
        <a id="noticeGenerator" class="btn btn-primary" href="#">Generate an info</a>
    </div>
</div>
