@using System.Security.Claims

<!-- User Account: style can be found in dropdown.less -->
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="hidden-xs">@User.Identity.Name</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img src="~/lib/admin-lte/dist/img/avatar04.png" class="img-circle" alt="User Image">
            <p>
                @User.Identity.Name
            </p>
        </li>
        <!-- Menu Body -->
        <li class="user-body">
            <div class="row">
                <div class="col-xs-12 text-center">
                </div>
            </div>
            <!-- /.row -->
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="row">
                <div class="col-xs-6 text-center">
                    <a asp-controller="Manage" asp-action="Index" title="Manage" class="btn btn-link navbar-btn navbar-link">Profile</a>
                </div>
                <div class="col-xs-6 text-center">
                    <form asp-controller="Account" asp-action="LogOff" method="post" class="form-horizontal" id="logoutForm">
                        <button type="submit" class="btn btn-link navbar-btn navbar-link">Sign out</button>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</li>
