@{
    ViewData["Title"] = "Application's logs";
}

@section styles{
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/datatables/dataTables.bootstrap.css">
}

@section scripts{
    <script src="~/lib/admin-lte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/js/logs.js"></script>
}
<input type="hidden" name="hostname" id="hostname" value="@ViewBag.hostname" />

<div class="panel panel-default">
    <div class="panel-body">
        <div class="pull-right">
            <button id="getKeyBtn" class="btn btn-info" >Show API key</button>
            <button id="deleteLogsBtn" class="btn btn-danger">Remove logs</button>
        </div>
    </div>
</div>

<div id="dtContainer">
    <div class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>

