@{
    ViewData["Title"] = "Application's logs";
}

@section styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/6.4.2/styles/theme-bootstrap.css">
}

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/6.4.2/ag-grid.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/6.4.2/ag-grid.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/6.4.2/ag-grid.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/6.4.2/ag-grid.js" type="text/javascript"></script>
    <script src="~/js/logs.js"></script>
}
<input type="hidden" name="hostname" id="hostname" value="@ViewBag.hostname" />

<div class="panel panel-default">
    <div class="panel-body">
        <div class="" id="filtersContainer">

        </div>
        <div class="pull-right" style="margin:10px;">
            <button id="showConfig" class="btn btn-info" data-toggle="modal" data-target="#configurationModal"><i class="fa fa-cog"></i></button>
            <button id="getKeyBtn" class="btn btn-info">Show API key</button>
            <button id="deleteLogsBtn" class="btn btn-danger">Remove logs</button>
        </div>
    </div>
</div>

<div id="dtContainer">
    <div class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="ag-basic ag-bootstrap ag-grid-table" id="logsGrid" style="height:500px"></div>
</div>


<div id="configurationModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <form id="configForm" name="configForm" class="">
                <div class="modal-body">
                    <div id="configContainer" class="row">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" formmethod="post" formaction="/api/Configuration/@ViewBag.hostname" class="btn btn-primary" id="saveLogConfigBtn">Save changes</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
